@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --card: 45 18% 96%;
    --card-foreground: 240 10% 3.9%;
    --popover: 45 18% 96%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 40, 11%, 89%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 40, 11%, 89%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 40, 10%, 94%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --muted-foreground: 0, 0%, 38%;
    --border: 45, 5%, 85%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 7%;
    --card-foreground: 0 0% 98%;
    --popover: 0, 0%, 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0, 0%, 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359, 100%, 61%;
    --destructive-foreground: 0, 0%, 100%;
    --muted-foreground: 0, 0%, 38%;
    --border: 0, 0%, 17%;
    --input: 0, 0%, 11%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-sans), system-ui, sans-serif;
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.97);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.97);
  }
}

/* Spinner */
.loading-wrapper {
  height: var(--spinner-size);
  width: var(--spinner-size);
  position: absolute;
  inset: 0;
  z-index: 10;
}

.loading-wrapper[data-visible='false'] {
  transform-origin: center;
  animation: fade-out 0.2s ease forwards;
}

.spinner {
  position: relative;
  top: 50%;
  left: 50%;
  height: var(--spinner-size);
  width: var(--spinner-size);
}

.loading-parent {
  display: flex;
  height: 16px;
  width: 16px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-left: -3px;
  margin-right: 4px;
}

.loading-bar {
  animation: loading 1.2s linear infinite;
  background: hsl(0, 0%, 43.5%);
  border-radius: 6px;
  height: 8%;
  left: -10%;
  position: absolute;
  top: -3.9%;
  width: 24%;
}

.loading-bar:nth-child(1) {
  animation-delay: -1.2s;
  /* Rotate trick to avoid adding an additional pixel in some sizes */
  transform: rotate(0.0001deg) translate(146%);
}

.loading-bar:nth-child(2) {
  animation-delay: -1.1s;
  transform: rotate(30deg) translate(146%);
}

.loading-bar:nth-child(3) {
  animation-delay: -1s;
  transform: rotate(60deg) translate(146%);
}

.loading-bar:nth-child(4) {
  animation-delay: -0.9s;
  transform: rotate(90deg) translate(146%);
}

.loading-bar:nth-child(5) {
  animation-delay: -0.8s;
  transform: rotate(120deg) translate(146%);
}

.loading-bar:nth-child(6) {
  animation-delay: -0.7s;
  transform: rotate(150deg) translate(146%);
}

.loading-bar:nth-child(7) {
  animation-delay: -0.6s;
  transform: rotate(180deg) translate(146%);
}

.loading-bar:nth-child(8) {
  animation-delay: -0.5s;
  transform: rotate(210deg) translate(146%);
}

.loading-bar:nth-child(9) {
  animation-delay: -0.4s;
  transform: rotate(240deg) translate(146%);
}

.loading-bar:nth-child(10) {
  animation-delay: -0.3s;
  transform: rotate(270deg) translate(146%);
}

.loading-bar:nth-child(11) {
  animation-delay: -0.2s;
  transform: rotate(300deg) translate(146%);
}

.loading-bar:nth-child(12) {
  animation-delay: -0.1s;
  transform: rotate(330deg) translate(146%);
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.15;
  }
}

.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* Date picker */
.rdp-tbody .rdp-button {
  border-radius: 100%;
}

.aria-selected\:text-accent-foreground[aria-selected="true"] {
  border-radius: 0px;
}

/* flights */

.stars-container {
  animation: stars-animation 50s linear infinite;
}

@keyframes stars-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes plane-light-animation {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.marker-pulse-container {
  @apply absolute w-24 h-24 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.marker-pulse {
  @apply absolute w-full h-full bg-blue/20 rounded-full origin-center border border-blue;
  animation: marker-pulse-animation 3s ease-out infinite;
  animation-fill-mode: both;
}

@keyframes marker-pulse-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@property --animation-progress {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

.flight-activity-container {
  --animation-progress: 1;
  --block-duration: 1200ms;
  --block-delay: 100ms;
  animation: flight-activity-progress calc(var(--total) * var(--block-delay) + var(--block-duration)) 1200ms ease-out;
  animation-fill-mode: both;
}

@keyframes flight-activity-progress {
  from {
    --animation-progress: 0;
  }

  to {
    --animation-progress: 1;
  }
}

.flight-activity-container:last-child .flight-activity-line {
  border: none;
  width: 1px;
  background: linear-gradient(to top, transparent, white);
}

.flight-activity-item {
  animation: slide-up 1200ms cubic-bezier(0.16, 1, 0.3, 1);
  animation-delay: calc(var(--index) * 100ms);
  animation-fill-mode: both;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.flight-activity-dot {
  animation: dot-animation 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-delay: calc(var(--index) * 150ms + 200ms);
  animation-fill-mode: both;
  transform-origin: center;
}

@keyframes dot-animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.flight-activity-line {
  animation: line-animation 150ms ease-in-out;
  animation-delay: calc(var(--index) * 150ms + 150ms);
  animation-fill-mode: both;
  transform-origin: top;
  /* transform: scaleY(var(--animation-progress)); */
}

@keyframes line-animation {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    opacity: 0.5;
  }
}
